@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif&family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 14%;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-container {
    /* width: 50%; */
}

.section-container {
    /* width: 50%; */
}

.web-title {
    color: #000;
    font-family: PT Serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1.62px;
    line-height: normal;
}

.section-title {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.section-text {
    color: #000;
    flex-shrink: 0;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    height: 87px;
    line-height: normal;
    width: 439px;
}

.photos-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.member-container {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin: 5% 0;
    width: 33.33%;
}

.member-photo-name-container {
    height: auto;
    width: 90%;
}

.member-photo {
    height: auto;
    width: 100%;
}

.member-name {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.member-type {
    color: #000;
    font-family: PT Serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    writing-mode: vertical-lr;
}

footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-text {
    color: #a9a9a9;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.footer-text-username {
    color: #a9a9a9;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}
