* {
    margin: 0;
    padding: 0;
}

body {
    margin: 5% 16%;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.title-container {
    width: 50%;
}

.section-container {
    width: 50%;
}

.web-title {
    color: #000;
    font-family: PT Serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1.62px;
    line-height: normal;
}

.section-title {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.section-text {
    color: #000;
    flex-shrink: 0;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    height: 87px;
    line-height: normal;
    width: 439px;
}

.photos-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.member-container {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 471px;
    justify-content: space-around;
    width: 305.213px;
}

.member-photo {
    height: 341px;
    width: 238px;
}

.member-name {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.member-type {
    color: #000;
    font-family: PT Serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    rotate: 90deg;
    position: absolute;
    float: right;
    text-transform: uppercase;
    width: 341px;
}
